<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ged</string>
				<string>GED</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GEDCOM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>FAMP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MacPAFTest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacPAF</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSJavaNeeded</key>
	<string>YES</string>
	<key>NSJavaPath</key>
	<array>
		<string>MacPAFTest.jar</string>
	</array>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
<array>
<temple><name>Aba Nigeria</name><code>ABA</code><number>120</number></temple>
<temple><name>Accra Ghana</name><code>ACCRA</code><number>76</number></temple>
<temple><name>Adelaide Australia</name><code>ADELA</code><number>110</number></temple>
<temple><name>Cardston Alberta</name><code>ALBER</code><number>10</number><oldcode>AL</oldcode><open-date>8/30/1927</open-date></temple>
<temple><name>Albuquerque New Mexico</name><code>ALBUQ</code><number>69</number></temple>
<temple><name>Anchorage Alaska</name><code>ANCHO</code><number>73</number></temple>
<temple><name>Apia Samoa</name><code>APIA</code><number>26</number><oldcode>AP</oldcode><open-date>8/6/1987</open-date></temple>
<temple><name>Mesa Arizona</name><code>ARIZO</code><number>11</number><oldcode>AZ</oldcode><open-date>10/27/1931</open-date></temple>
<temple><name>Asuncion Paraguay</name><code>ASUNC</code><number>121</number></temple>
<temple><name>Atlanta Georgia</name><code>ATLAN</code><number>30</number><oldcode>AT</oldcode><open-date>6/10/1987</open-date></temple>
<temple><name>Buenos Aires Argentina</name><code>BAIRE</code><number>31</number></temple>
<temple><name>Billings Montana</name><code>BILLI</code><number>68</number></temple>
<temple><name>Birmingham Alabama</name><code>BIRMI</code><number>96</number></temple>
<temple><name>Bismarck North Dakota</name><code>BISMA</code><number>87</number></temple>
<temple><name>Bogota Colombia</name><code>BOGOT</code><number>51</number><oldcode>BG</oldcode></temple>
<temple><name>Boise Idaho</name><code>BOISE</code><number>43</number><oldcode>BO</oldcode><open-date>6/10/1988</open-date></temple>
<temple><name>Boston Massachusetts</name><code>BOSTO</code><number>55</number></temple>
<temple><name>Bountiful Utah</name><code>BOUNT</code><number>52</number><oldcode></oldcode><open-date>1/18/1999</open-date></temple>
<temple><name>Brisbane Australia</name><code>BRISB</code><number>84</number></temple>
<temple><name>Baton Rouge Louisiana</name><code>BROUG</code><number>99</number></temple>
<temple><name>Campinas Brazil</name><code>CAMPI</code><number>70</number></temple>
<temple><name>Caracas Venezuela</name><code>CARAC</code><number>66</number></temple>
<temple><name>Chicago Illinois</name><code>CHICA</code><number>33</number><oldcode>CH</oldcode><open-date>8/21/1989</open-date></temple>
<temple><name>Ciudad Juarez Mexico</name><code>CIUJU</code><number>80</number></temple>
<temple><name>Cochabamba Bolivia</name><code>COCHA</code><number>64</number></temple>
<temple><name>Colonia Juarez Chihuahua Mexico</name><code>COLJU</code><number>75</number></temple>
<temple><name>Columbia South Carolina</name><code>COLSC</code><number>95</number></temple>
<temple><name>Columbus Ohio</name><code>COLUM</code><number>77</number></temple>
<temple><name>Copenhagen Denmark</name><code>COPEN</code><number>112</number></temple>
<temple><name>Columbia River Washington</name><code>CRIVE</code><number>125</number></temple>
<temple><name>Curitiba Brazil</name><code>CURIT</code><number>131</number></temple>
<temple><name>Dallas Texas</name><code>DALLA</code><number>34</number><oldcode>DA</oldcode><open-date>11/11/1988</open-date></temple>
<temple><name>Denver Colorado</name><code>DENVE</code><number>42</number><oldcode>DV</oldcode><open-date>11/8/1990</open-date></temple>
<temple><name>Detroit Michigan</name><code>DETRO</code><number>92</number></temple>
<temple><name>Edmonton Alberta</name><code>EDMON</code><number>91</number></temple>
<temple><name>Endowment House</name><code>EHOUS</code><number>4</number><oldcode>EH</oldcode><open-date>2/25/1851</open-date><close-date>9/22/1889</close-date></temple>
<temple><name>Frankfurt Germany</name><code>FRANK</code><number>35</number><oldcode>FR</oldcode><open-date>9/1/1991</open-date></temple>
<temple><name>Freiberg Germany</name><code>FREIB</code><number>46</number><oldcode>FD</oldcode><open-date>7/2/1989</open-date></temple>
<temple><name>Fresno California</name><code>FRESN</code><number>103</number></temple>
<temple><name>Fukuoka Japan</name><code>FUKUO</code><number>79</number></temple>
<temple><name>Guadalajara Mexico</name><code>GUADA</code><number>114</number></temple>
<temple><name>Guatemala City Guatemala</name><code>GUATE</code><number>36</number><oldcode>GU</oldcode><open-date>12/18/1988</open-date></temple>
<temple><name>Guayaquil Ecuador</name><code>GUAYA</code><number>45</number><oldcode>GY</oldcode></temple>
<temple><name>The Hague Netherlands</name><code>HAGUE</code><number>119</number></temple>
<temple><name>Halifax Nova Scotia</name><code>HALIF</code><number>82</number></temple>
<temple><name>Harrison New York</name><code>HARRI</code><number>65</number></temple>
<temple><name>Laie Hawaii</name><code>HAWAI</code><number>9</number><oldcode>HA</oldcode><open-date>12/3/1923</open-date></temple>
<temple><name>Helsinki Finland</name><code>HELSI</code><number>122</number></temple>
<temple><name>Hermosillo Sonora Mexico</name><code>HERMO</code><number>86</number></temple>
<temple><name>Hong Kong China</name><code>HKONG</code><number>56</number><oldcode></oldcode><open-date>5/29/2000</open-date></temple>
<temple><name>Houston Texas</name><code>HOUST</code><number>71</number></temple>
<temple><name>Idaho Falls Idaho</name><code>IFALL</code><number>12</number><oldcode>IF</oldcode><open-date>12/4/1949</open-date></temple>
<temple><name>Johannesburg South Africa</name><code>JOHAN</code><number>37</number><oldcode>JO</oldcode><open-date>8/27/1989</open-date></temple>
<temple><name>Jordan River Utah</name><code>JRIVE</code><number>25</number><oldcode>JR</oldcode><open-date>12/2/1985</open-date></temple>
<temple><name>Kiev Ukraine</name><code>KIEV</code><number>83</number></temple>
<temple><name>Kona Hawaii</name><code>KONA</code><number>81</number></temple>
<temple><name>Los Angeles California</name><code>LANGE</code><number>14</number><oldcode>LA</oldcode><open-date>3/25/1960</open-date></temple>
<temple><name>Lima Peru</name><code>LIMA</code><number>38</number><oldcode>LI</oldcode><open-date>1/11/1990</open-date></temple>
<temple><name>Logan Utah</name><code>LOGAN</code><number>6</number><oldcode>LG</oldcode><open-date>5/21/1884</open-date></temple>
<temple><name>London England</name><code>LONDO</code><number>16</number><oldcode>LD</oldcode><open-date>9/11/1962</open-date></temple>
<temple><name>Louisville Kentucky</name><code>LOUIS</code><number>108</number></temple>
<temple><name>Lubbock Texas</name><code>LUBBO</code><number>123</number></temple>
<temple><name>Las Vegas Nevada</name><code>LVEGA</code><number>49</number><oldcode>LV</oldcode><open-date>12/20/1993</open-date></temple>
<temple><name>Madrid Spain</name><code>MADRI</code><number>59</number></temple>
<temple><name>Manhattan  New York</name><code>MANHA</code><number>130</number></temple>
<temple><name>Manila Philippines</name><code>MANIL</code><number>39</number><oldcode>MA</oldcode><open-date>12/28/1988</open-date></temple>
<temple><name>Manti Utah</name><code>MANTI</code><number>7</number><oldcode>MT</oldcode><open-date>5/29/1888</open-date></temple>
<temple><name>Medford Oregon</name><code>MEDFO</code><number>107</number></temple>
<temple><name>Melbourne Australia</name><code>MELBO</code><number>102</number></temple>
<temple><name>Memphis Tennessee</name><code>MEMPH</code><number>97</number></temple>
<temple><name>Merida Mexico</name><code>MERID</code><number>98</number></temple>
<temple><name>Mexico City Mexico</name><code>MEXIC</code><number>23</number><oldcode>MX</oldcode><open-date>12/6/1987</open-date></temple>
<temple><name>Montevideo Uruguay</name><code>MNTVD</code><number>100</number></temple>
<temple><name>Monterrey Mexico</name><code>MONTE</code><number>67</number></temple>
<temple><name>Monticello Utah</name><code>MONTI</code><number>74</number></temple>
<temple><name>Montreal Quebec</name><code>MONTR</code><number>90</number></temple>
<temple><name>Mount Timpanogos Utah</name><code>MTIMP</code><number>57</number><oldcode></oldcode><open-date>10/22/2000</open-date></temple>
<temple><name>Nashville Tennessee</name><code>NASHV</code><number>62</number></temple>
<temple><name>Nauvoo</name><code>NAUVO</code><number>2</number><oldcode>NV</oldcode><open-date>9/10/1840</open-date><close-date>2/7/1846</close-date></temple>
<temple><name>Nauvoo Illinois</name><code>NAUV2</code><number>116</number></temple>
<temple><name>Newport Beach California</name><code>NBEAC</code><number>126</number></temple>
<temple><name>Nuku'alofa Tonga</name><code>NUKUA</code><number>28</number><oldcode>TG</oldcode><open-date>8/13/1987</open-date></temple>
<temple><name>Hamilton New Zealand</name><code>NZEAL</code><number>15</number><oldcode>NZ</oldcode><open-date>4/23/1962</open-date></temple>
<temple><name>Oakland California</name><code>OAKLA</code><number>17</number><oldcode>OK</oldcode><open-date>12/2/1968</open-date></temple>
<temple><name>Oaxaca Mexico</name><code>OAXAC</code><number>105</number></temple>
<temple><name>Ogden Utah</name><code>OGDEN</code><number>19</number><oldcode>OG</oldcode><open-date>1/23/1976</open-date></temple>
<temple><name>Oklahoma City Oklahoma</name><code>OKLAH</code><number>109</number></temple>
<temple><name>Orlando Florida</name><code>ORLAN</code><number>53</number><oldcode></oldcode><open-date>10/13/1998</open-date></temple>
<temple><name>Other</name><code>OTHER</code><number>1</number></temple>
<temple><name>Porto Alegre Brazil</name><code>PALEG</code><number>72</number></temple>
<temple><name>Palmyra New York</name><code>PALMY</code><number>104</number></temple>
<temple><name>Panama City Panama</name><code>PANAM</code><number>132</number></temple>
<temple><name>Papeete Tahiti</name><code>PAPEE</code><number>27</number><oldcode>TA</oldcode><open-date>10/30/1987</open-date></temple>
<temple><name>Perth Australia</name><code>PERTH</code><number>117</number></temple>
<temple><name>President'S Office</name><code>POFFI</code><number>3</number><oldcode>PO</oldcode><open-date>1/20/1909</open-date><close-date>1/1/1914</close-date></temple>
<temple><name>Portland Oregon</name><code>PORTL</code><number>48</number><oldcode>PT</oldcode><open-date>8/23/1993</open-date></temple>
<temple><name>Preston England</name><code>PREST</code><number>58</number></temple>
<temple><name>Provo Utah</name><code>PROVO</code><number>18</number><oldcode>PV</oldcode><open-date>2/24/1976</open-date></temple>
<temple><name>Raleigh North Carolina</name><code>RALEI</code><number>94</number></temple>
<temple><name>Recife Brazil</name><code>RECIF</code><number>63</number></temple>
<temple><name>Redlands California</name><code>REDLA</code><number>127</number></temple>
<temple><name>Regina Saskatchewan</name><code>REGIN</code><number>89</number></temple>
<temple><name>Reno Nevada</name><code>RENO</code><number>113</number></temple>
<temple><name>Sacramento California</name><code>SACRA</code><number>128</number></temple>
<temple><name>Santiago Chile</name><code>SANTI</code><number>32</number></temple>
<temple><name>San Antonio Texas</name><code>SANTO</code><number>129</number></temple>
<temple><name>San Diego California</name><code>SDIEG</code><number>47</number><oldcode>SA</oldcode><open-date>4/27/1997</open-date></temple>
<temple><name>Santo Domingo Dom. Rep.</name><code>SDOMI</code><number>60</number></temple>
<temple><name>Seattle Washington</name><code>SEATT</code><number>24</number><oldcode>SE</oldcode><open-date>11/23/1984</open-date></temple>
<temple><name>Seoul South Korea</name><code>SEOUL</code><number>40</number><oldcode>SO</oldcode><open-date>12/15/1989</open-date></temple>
<temple><name>St. George Utah</name><code>SGEOR</code><number>5</number><oldcode>SG</oldcode><open-date>1/9/1877</open-date></temple>
<temple><name>San Jose Costa Rica</name><code>SJOSE</code><number>111</number></temple>
<temple><name>Salt Lake</name><code>SLAKE</code><number>8</number><oldcode>SL</oldcode><open-date>5/23/1893</open-date></temple>
<temple><name>St. Louis Missouri</name><code>SLOUI</code><number>54</number></temple>
<temple><name>Snowflake Arizona</name><code>SNOWF</code><number>124</number></temple>
<temple><name>Sao Paulo Brazil</name><code>SPAUL</code><number>21</number><oldcode>SP</oldcode><open-date>11/1/1982</open-date></temple>
<temple><name>St. Paul Minnesota</name><code>SPMIN</code><number>88</number></temple>
<temple><name>Spokane Washington</name><code>SPOKA</code><number>93</number></temple>
<temple><name>Stockholm Sweden</name><code>STOCK</code><number>41</number><oldcode>ST</oldcode><open-date>6/3/1989</open-date></temple>
<temple><name>Suva Fiji</name><code>SUVA</code><number>78</number></temple>
<temple><name>Bern Switzerland</name><code>SWISS</code><number>13</number><oldcode>SW</oldcode><open-date>9/17/1959</open-date></temple>
<temple><name>Sydney Australia</name><code>SYDNE</code><number>29</number><oldcode>SD</oldcode><open-date>9/25/1988</open-date></temple>
<temple><name>Taipei Taiwan</name><code>TAIPE</code><number>44</number><oldcode>TP</oldcode><open-date>11/20/1988</open-date></temple>
<temple><name>Tampico Mexico</name><code>TAMPI</code><number>85</number></temple>
<temple><name>Tuxtla Gutierrez Mexico</name><code>TGUTI</code><number>106</number></temple>
<temple><name>Tokyo Japan</name><code>TOKYO</code><number>22</number><oldcode>TK</oldcode><open-date>10/31/1984</open-date></temple>
<temple><name>Toronto Ontario</name><code>TORON</code><number>50</number><oldcode>TR</oldcode><open-date>8/26/1994</open-date></temple>
<temple><name>Veracruz Mexico</name><code>VERAC</code><number>115</number></temple>
<temple><name>Vernal Utah</name><code>VERNA</code><number>61</number><oldcode></oldcode><open-date>11/6/2001</open-date></temple>
<temple><name>Villahermosa Mexico</name><code>VILLA</code><number>101</number></temple>
<temple><name>Washington D.C.</name><code>WASHI</code><number>20</number><oldcode>WA</oldcode><open-date>11/24/1978</open-date></temple>
<temple><name>Winter Quarters Nebraska</name><code>WINTE</code><number>118</number></temple>